In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.decomposition import PCA, KernelPCA
from sklearn.datasets import make_circles

In [29]:
file = "VGSales.csv"

# Cargamos el conjunto de datos en un dataframe
all_variables = ['North america', 'Europe', 'Japan', 'Other','target'] #ojo en el tarjet
features = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
target = ['target']

df = pd.read_csv(file)
df[features].head()
#df.head()

   NA_Sales  EU_Sales  JP_Sales  Other_Sales
0     41.49     29.02      3.77         8.46
1     29.08      3.58      6.81         0.77
2     15.85     12.88      3.79         3.31
3     15.75     11.01      3.28         2.96
4     11.27      8.89     10.22         1.00

In [30]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_sc = pd.DataFrame(scaler.fit_transform(df[features]),
                 columns=features)
df_sc.head()

   NA_Sales  EU_Sales  JP_Sales  Other_Sales
0  1.000000  1.000000  0.368885     0.800378
1  0.700892  0.123363  0.666341     0.072848
2  0.382020  0.443832  0.370841     0.313150
3  0.379610  0.379394  0.320939     0.280038
4  0.271632  0.306340  1.000000     0.094607

In [31]:
pca = PCA()
df_pca = pd.DataFrame(pca.fit_transform(df[features]),
                     columns=features)
df_pca.head()

    NA_Sales   EU_Sales  JP_Sales  Other_Sales
0  50.616568  -3.900532 -6.345950    -0.263190
1  27.498105  10.057528  5.489528    -0.721557
2  20.388253  -3.604595 -0.815494    -0.350085
3  19.291098  -1.977437 -0.652617    -0.242476
4  15.352715  -4.360089  6.742598    -1.074885

In [32]:
explained_variance = pca.explained_variance_ratio_
explained_variance

array([0.83426141, 0.08326868, 0.068004  , 0.01446591])